.vscode/**
.vscode-test/**
src/**
.gitignore
esbuild.js
tsconfig.json
**/*.map
**/*.ts
!dist/extension.js
node_modules/**
!node_modules/esbuild-wasm/**
node_modules/esbuild-wasm/esm/**
node_modules/esbuild-wasm/lib/browser*
node_modules/esbuild-wasm/**/*.d.ts
*.vsix
